<div id="outer-wrapper" class="mb-2 bg-info-subtle text-info-emphasis">

<h1>To-do List</h1>

<div class="all-tasks container">
<% @tasks.each do |task| %>
    <div class="wrapper">
        <%= check_box_tag 'olo', '1', task.checked %>
        <label for=task-<%= task.id %>><%= task.task_description %></label>
        <%= link_to 'delete', task, data: {
            turbo_method: :delete,
        }, class: "delete-link" %>
    </div>
<% end %>
</div>

<div class="bottom-wrapper">

<%= link_to 'New Task', new_task_path, class: "button" %>
<input id="save" type="Submit" value="Save">
</div>

</div>

<footer class="bg-info text-center text-lg-start fixed-bottom">
    <p>Last Updated: 07/01/24</p>
</footer>
